$aside--background--color : #1b2939;
$accent--lighter: lighten( $aside--background--color, 20% );
$accent--darken: darken( $aside--background--color, 20% );

$white : #fefefe;
$black : #222222;
$blue:#205fac;
$red:#ee2c3e;

$medium-grey: #999;
$light-grey: #ccc;